
#TodosFiltering {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-family: Bahnschrift;
    color: white;
}

#TodosFiltering:hover, #TodosFiltering input[type='checkbox']:hover {
    cursor: pointer;
    color: #ff8000;
}